---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1999,"card_number":"4242424242424242","cvv":"123","expiration_month":"01","expiration_year":"2017","zip_code":"12345"}'
    headers:
      Authorization:
      - Token token=24c05f273712ab7904a6bda5d640ea
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000004}'
  recorded_at: Fri, 23 Nov 2018 10:08:12 GMT
recorded_with: VCR 4.0.0
