---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1999,"card_number":"4242424242424242","cvv":"123","expiration_month":"01","expiration_year":"2024","zip_code":"12345"}'
    headers:
      Authorization:
      - Token token=24c05f273712ab7904a6bda5d640ea
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"694a2cbc8ff61a9aadf83116a7207927"
    body:
      encoding: UTF-8
      string: '{"token":"a18ed0c0ba3ba01c1306fa47349df9","success":true,"error_code":null}'
  recorded_at: Fri, 23 Nov 2018 10:08:10 GMT
recorded_with: VCR 4.0.0
