---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1999,"card_number":"4242424242424242","cvv":"123","expiration_month":"01","expiration_year":"2024","zip_code":"12345"}'
    headers:
      Authorization:
      - Token token=24c05f273712ab7904a6bda5d640ea
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"018c8bc939157ff49dc1e1bc6ed00040"
    body:
      encoding: UTF-8
      string: '{"token":"4acf5321b5e743917f10c799ee36c2","success":true,"error_code":null}'
  recorded_at: Fri, 23 Nov 2018 10:08:09 GMT
recorded_with: VCR 4.0.0
